body {
  background-image: url("../imgs/floral.jpg");
  color: #3D2B0C;
}

.titlewell {
  margin: 20px;
  background-image: url("../imgs/wood.jpg");
}

.panel-heading {
  background-image: url("../imgs/wood.jpg");
}

.panel-body {
  background-image: url("../imgs/couch.jpg");
}

a:link {
  color: #348425;
}

a:hover {
  color: #E0FCDA;
}

a:visited {
  color: #0C3804;
}

.staytuned {
  font-size: 75%;
  font-style: italic;
}

.alexpic {
  float: left;
  width: 100px;
  margin-right: 20px;
  border: 2px solid #0C3804;
}

.eae {
  background-image: url("../imgs/leather.jpg");
}

.eae2 {
  background-image: url("../imgs/leather.jpg");
  padding-bottom: 44px;
}

.eaetitle {
  background-image: url("../imgs/wood.jpg");
}

.stjohns {
  margin-left: 30px;
  width: 350px;
  border: 2px solid #0C3804;
}

@media screen and (max-width: 500px) {
  .stjohns {
    margin-left: 10px;
    width: 150px;
    border: 2px solid #0C3804;
  }
}

blockquote {
  font-size: 90%;
}
.inactive {
  font-size: 75%;
  font-style: italic;
  color: red;
}

.active {
  font-size: 75%;
  font-style: italic;
  color: green;
}
